<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.caoyuan.hgshop.mapper.SpecMapper">
	<select id="selectSpecList" resultType="spec">
		select s.id,s.spec_name,group_concat(so.option_name) optionNames
		from hg_spec s left join hg_spec_option so
		on s.id=so.spec_id
		<where>
			<if test="specName!=null and specName!=''">
				and s.spec_name like concat('%',#{specName},'%')
			</if>
		</where>
		group by s.id
	</select>
	<insert id="insertSpec" useGeneratedKeys="true" keyProperty="id">
		insert into hg_spec(spec_name) values (#{specName})
	</insert>
	<insert id="insertSpecOption">
		insert into hg_spec_option(option_name, spec_id) values (#{optionName},#{specId})
	</insert>
	<resultMap type="spec" id="specMap">
		<id column="id" property="id"/>
		<result column="spec_name" property="specName"/>
		<collection property="options" javaType="list" ofType="specOption">
			<id column="option_id" property="id"/>
			<result column="option_name" property="optionName"/>
		</collection>
	</resultMap>
	<select id="selectSpecById" resultMap="specMap">
		select s.id,s.spec_name,so.id option_id,so.option_name
		from hg_spec s left join hg_spec_option so
		on s.id=so.spec_id
		where s.id=#{id}
	</select>
	<update id="updateSpec">
		update hg_spec set spec_name=#{specName} where id=#{id}
	</update>
	
	<delete id="deleteSpecOptionBySpecId">
		delete from hg_spec_option where spec_id=#{specId}
	</delete>
	
	<delete id="deleteSpecByIds">
		delete from hg_spec where id in
		<foreach collection="array" item="id" open="(" close=")" separator=",">
			#{id}
		</foreach>
	</delete>
	
	<delete id="deleteSpecOptionBySpecIds">
		delete from hg_spec_option where spec_id in
		<foreach collection="array" item="specId" open="(" close=")" separator=",">
			#{specId}
		</foreach>
	</delete>
	
	<select id="selectSpecs" resultType="spec">
		select id,spec_name from hg_spec
	</select>
	
	<select id="selectSpecByIds" resultMap="specMap">
		select s.id,s.spec_name,so.id option_id,so.option_name from hg_spec s join hg_spec_option so on s.id=so.spec_id where s.id in
		<foreach collection="list" open="(" close=")" separator="," item="id">
			#{id}
		</foreach>
	</select>
</mapper>